/* Write your global styles here, in PostCSS syntax */
@tailwind base;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	ol {
		@apply list-decimal pl-5;
	}
	ul {
		@apply list-disc pl-5;
	}
}

@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply pt-12 pb-1;
}

.page > p > h1:first-of-type {
	margin-top: 0px !important;
}

.language-id {
	display: none;
}

table,
th,
td {
	padding: .5rem;
	border: 1px solid;
}


table {
	margin-top: .5rem;
	margin-bottom: .5rem;
}

blockquote {
	@apply pl-5 my-7 border-l-2 border-gray-900 dark:border-white
}