/* Write your global styles here, in PostCSS syntax */
@tailwind base;

@layer base {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	h3 {
		@apply text-lg;
	}
	ol {
		@apply list-decimal pl-5;
	}
	ul {
		@apply list-disc pl-5;
	}
}

@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply pt-12 pb-1;
}

.page > p > h1:first-of-type {
	margin-top: 0px !important;
}

.language-id {
	display: none;
}

code {
	margin-top: .1rem;
	margin-bottom: .1rem;
	padding: .1rem;
	background-color: #282c34
}